<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>create To-do-Item</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="stylesheet" href="/navBar.css">
</head>
<body>
  <%- include('./partials/menu.ejs') %>
  <h1>Add your Item</h1>
  <form action="/todos/create" method="post">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="item" placeholder="to-do Item">
    <button type="submit">Create</button>
  </form>
</body>
</html>